@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">
    <h2>Service Order</h2>
    <ul>
        <li><a asp-area="" asp-controller="ServiceOrder" asp-action="Index">Service Orders</a></li>
    </ul>
</div>


<div class="col-md-3">
    <h2>Employee</h2>
    <ul>
        <li><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>
    </ul>
</div>
